@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@font-face {
    font-family: 'Caviar';
    src: url(/font/CaviarDreams.ttf);
}

:root{
    --border-radius:5px;
}

/* contrutores universais e container */

*{
    font-family: 'lato', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0px 6% 0px 6%;
    background-image: url(/images/background.png) ;
}
.container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 2fr 2fr 0.1fr;
    grid-template-areas: 
                        "header header header header"
                        "aside main main main"
                        "aside main main main"
                        "footer footer footer footer"
    ;

}

/* edição dos elementos semanticos */

header{
    grid-area:header ;
    background-color:#ADD8E6;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
}

aside{
    grid-area: aside;
    background-color: rgba(192, 197, 202, 0.836);
    border-radius: var(--border-radius);
}
main{
    grid-area: main;
    background-color: white;
    border-radius: var(--border-radius);

}
section{
    margin:5%;
}
footer{
    grid-area: footer;
    height: 200px;
    background-color: brown;
    border-radius: var(--border-radius);
}
/* classes relacionadas a texto */

.herotittle{
    color:white;
    font-size: 6vmax;
    font-family: 'Caviar', Times, serif;
}
h1{
    font-size: 40px;
}
h2{
    margin:4%
}
p{
    font-size: 25px;
    color: #1111119d;
    margin-left: 5%;
    margin-top: 2%;
}

nav ul li a:hover{
    color: white;
}


/* edições de classes */

.logo{
    width: 65%;
}
.navbar{
    display: flex;
    list-style:none ;
}
.navitem{
    padding: 15%;
}
.navitem a{
    text-decoration: none;
    color: black;
    font-size: 3vh;
}
.aside_content{
    position: sticky;
    top:0;
}
.box_model{
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}

.img_left{
    float: left;
    height: 30%;
    margin: 5px;
}
.img_right{
    float: right;
    height: 45%;
    margin: 5px;
}

.img_left-round{
    float: left;
    width: 25%;
    border-radius: 50%;
    box-shadow: 5px 5px 10px black;
    margin: 5px;
}
.img_right-round{
    float: right;
    width: 25%;
    border-radius: 50%;
    box-shadow: 5px 5px 10px black;
    margin: 5px;
}
.indice ul{
    list-style: none;
}
.indice ul li{
    padding: 5%;
}
.indice ul li a{
    margin: 5%;
    text-decoration: none;
    color: black;
}
