
/* Importando fontes */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); /*importando fonte Lato*/

/* criando a font family Caviar (CaviarDreams baixada no site dafont)  */

@font-face {
    font-family: 'Caviar';
    src: url(/font/CaviarDreams.ttf);
}

/* variaveis universais */

:root{
    --border-radius:5px;
}

/* contrutores universais e container */

*{
    font-family: 'lato', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0px 6% 0px 6% !important;
    background-image: url(/images/background.png) ;
}
.custom-container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 2fr 2fr 0.1fr;
    grid-template-areas: 
                        "header header header header"
                        "aside main main main"
                        "aside main main main"
                        "footer footer footer footer"
    ;

}

/* edição dos elementos semanticos */

header{
    grid-area:header ;
    background-color:#ADD8E6;
    border-radius: var(--border-radius);
}


/* Como todos os navs terão a mesma função no hover, será criado uma regra universal para todos navs */

nav ul li a:hover{
    color: white !important;
}
article{
    grid-area: car;
}
aside{
    grid-area: aside;
    background-color: rgba(192, 197, 202, 0.836);
    border-radius: var(--border-radius);
}
main{
    margin-top: 0;
    grid-area: main;
    background-color: white;
    border-radius: var(--border-radius);

}
section{
    margin:5%;
}
footer{
    grid-area: footer;
    background-color:#ADD8E6;
    margin-bottom: 5%;
    border-radius: var(--border-radius);
    padding: 5%;

}
/* classes relacionadas a texto */

/* .herotittle se refere ao texto utilizado dentro do box model */
.herotittle{
    color:white;
    font-size: 6vmax;
    font-family: 'Caviar', Times, serif;
}

h1{
    font-size: 3vmax;
}
h2{
    margin:4%
}
p{
    font-size: 2vh;
    color: #1111119d;
    margin-left: 5%;
    margin-top: 2%;
}




/* edições de classes */

/* classes relacionadas ao header da pagina */
.logo{
    width: 65%;
}
.bg-light-blue{
    background-color: #ADD8E6;
}

.nav-link:hover{
    color: white;
}

/* classes relacionadas ao aside */

.aside_content{
    position: sticky;
    top:0;
}

.indice ul{
    list-style: none;
}
.indice ul li{
    padding: 5%;
}
.indice ul li a{
    margin: 5%;
    text-decoration: none;
    color: black;
}


/* classes relacionadas ao main */

/* .boxmodel se refere as divs que separam os conteudos */
.box_model{
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}

/* imagens presentes no main */


.img_right{
    float: right;
    width: 45%;
}

.img_left-round{
    float: left;
    width: 25%;
    border-radius: 50%;
    box-shadow: 5px 5px 10px black;
    margin: 5px;
}
.img_right-round{
    float: right;
    width: 25%;
    border-radius: 50%;
    box-shadow: 5px 5px 10px black;
    margin: 5px;
}

/* classes relacionadas a footer */

.icons{
    font-size: 4vh;
}
.footer_text{
    margin: auto;
    font-size: 3vh;
}
